.category-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    height: 100%;
}

 .MuiGrid-item{
     padding: 0 !important;
 }

.category-box:hover {
    background-color: rgb(112, 112, 241);
    transform: scale(1.05);
    color: white;
}


.category-img {
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}

.category-text {
    margin: 8px 0 8px 0;
    font-size: 0.8rem;
    color: #000;
}

.categorias-text {
    background-color: white;
    margin-top: 10px;
}

.category-text:hover {
    text-decoration: underline;
}

.anchorstyle {
    width: 100%;
    height: 100%;
}